img{
    height: 15rem;
}

.header{
    animation-duration: 900ms;
    animation-name: slidein;
}

@keyframes slidein {
    from{
        margin-right: 100%;
        width: 3000%;
    }
    to{
        margin-right: 0%;
        width: 100%;
    }
}